@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {

  --font-poppins: 'Poppins';

  /* light colours */
  --color-pri: oklch(54.6% 0.245 262.881);
  --color-sec: oklch(70.7% 0.165 254.624);
  --color-thi: oklch(88.2% 0.059 254.128);
  --color-dark: oklch(20.8% 0.042 265.755);
  --color-accent: oklch(44.6% 0.043 257.281);
  --color-text: oklch(20.8% 0.042 265.755);
  --color-BG: oklch(92.9% 0.013 255.508);
  --color-SBG: oklch(96.8% 0.007 247.896);

  /* dark colours */
  --color-Dpri: oklch(68.5% 0.169 237.323);
  --color-Dsec: oklch(74.6% 0.16 232.661);
  --color-Dthi: oklch(44.3% 0.11 240.79);
  --color-light: oklch(92.9% 0.013 255.508);
  --color-Daccent: oklch(86.9% 0.022 252.894);
  --color-Dtext: oklch(96.8% 0.007 247.896);
  --color-DBG: oklch(27.9% 0.041 260.031);
  --color-DSBG: oklch(20.8% 0.042 265.755);

}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Override specific elements */
.react-range-slider-input {
  /* Main container */
}

.react-range-slider-input .range-slider__range {
  /* The filled portion between thumbs */
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
}

.react-range-slider-input .range-slider__thumb {
  /* Individual thumbs */
  background: #333;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border: none;
}

.react-range-slider-input .range-slider__thumb:hover {
  transform: scale(1.3);
  background: #555;
}